@media (max-width:439px) {
    main {
        margin-left: 0;
    }

    .logo_pc {
        display: none;
    }

    .logo_mobile {
        display: block;
        z-index: 1;
    }

    .logo_mobile img {
        width: 50px;
    }

    .mobile-navbar {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 0 30px;
        z-index: 999;
    }

    .hamburger-menu {
        display: flex;
    }

    .nav .nav-links li a {
        font-size: 35px;
        opacity: 1;
    }

    .nav-links li {
        margin-top: 20px;
    }

    .nav-links {
        background-color: #232323;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }

    img#ilustrationDeveloper {
        width: 280px;
    }

    img#V_letter {
        height: 62px;
        margin-right: -56px;
        margin-top: -1px;
        transform: rotate(-45deg);
    }

    h3#home {
        color: #414984;
        opacity: .1;
        position: absolute;
        right: 7%;
        top: 10%;
        z-index: 1;
        font-size: 100px;
    }

    h1 {
        font-size: 70px;
    }

    h4:nth-of-type(2) {
        font-size: 18px;
    }

    section {
        /* padding: 15px; */
        padding: 0;
        margin-left: 50px;
    }

    .service-boxes {
        justify-content: center;
    }

    .project {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        /* margin-top: 120px; */
    }

    .project img#coding_pc {
        width: 244px;
        margin-left: 10%;
        margin-top: 20px;
    }

    .right-image h6 {
        position: absolute;
        top: 35%;
        font-size: 40px;
        z-index: 1;
        left: -5%;
    }

    .left-description {
        width: 85%;
        text-align: right;
    }


    .border-left-white h3 {
        font-size: 45px;
    }

    .border-left-white h5 {
        font-size: 20px;
    }

    .left {
        width: 100%;
    }

    .left p {
        font-size: 12px;
        padding-top: 40px;
        padding-left: 60px;
        line-height: 20px;
        width: 100%;
    }

    #about {
        display: flex;
        /* justify-content: space-between; */
        /* align-items: center; */
        flex-direction: column;
        height: 100vh;
    }

    .left button {
        margin-top: 25px;
    }

    img#coding_pc {
        width: 344px;
        margin-left: 10%;
        margin-top: 20px;
    }

    #skills {
        margin-top: 160px;
    }

    .skills-flex-container {
        width: 100%;
        padding: 0;
        padding-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .skill-logo {
        height: 3rem;
        opacity: .8;
        margin: .5rem;
        transition: all .5s ease;
    }

}

@media(max-width: 768px) {}

@media(min-width:1200px) {}


@media(max-width: 1190px) {}

@media(max-width:1300px) {}

@media(max-width:1440px) {}

@media(max-width: 1520px) {}

@media(max-width:1620px) {}