* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* background-color: #498387; */
    /* background-color: #192020; */
    /* background-color: #2A9D8F; */
    /* background-color: #1EA896; */
    /* background-color: #FF715B; */
    /* background-color: #c2ffe4; */
    /* background-color: #e1b382; */
    background-color: #c2ab68;
    /* background-color: #DCC7AA; */
    font-family: Montserrat, sans-serif;
    /* color: white; */
    /* color: rgb(56, 56, 56); */
    color: rgb(252, 252, 252);
}

/* HAMBURGER MENU START - (mobile) */

.hamburger-menu {
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: flex;
    /* right: 5%;
    top: 5%; */
    flex-direction: column;
    justify-content: space-around;
    z-index: 999;
    display: none;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 1.2s;
}

.nav-links.nav-ul-active {
    transform: translateX(0%);
}

/* lines of hamburger menu */
.toggle .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    ;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* HAMBURGER MENU FINISH - (mobile) */

main {
    margin-left: 20%;
}

.logo {
    width: 140px;
}

.logo_mobile {
    display: none;
}

.mobile-navbar {
    display: none;
}

.V_letter h1 {
    color: whitesmoke;
}

#dark {
    display: none;
    position: fixed;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

button#dark:hover {
    cursor: pointer;
}

img#ilustrationDeveloper {
    width: 580px;
    z-index: 2;
    margin-bottom: 50px;
    box-shadow: 0 0 BLACK;
}

.showcase {
    width: 65%;
    margin: 0 auto;
}

.showcase h1 {
    text-align: center;
}

.showcase h4 {
    font-size: 35px;
    font-weight: normal;
    line-height: 50px;
}

.showcase-images {
    margin: 0 auto;
    text-align: center;
}

.showcase-text {
    margin-top: 5rem;
}

.showcase-text h5 {
    font-size: 20px;
}

.showcase-text p {
    font-size: 25px;
    color: #414984;
    font-weight: bold;
}

.image-sc {
    margin-top: 6rem;
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.colors-typography {
    position: relative;
    height: 450px;
    margin-top: 50px;
}


#back-to-index {
    color: white;
    font-size: 20px;
    position: fixed;
    left: 20px;
    top: 20px;
}

.blue-background {
    color: transparent;
    -webkit-text-stroke: 1px white;
    /* background-color: #4149847c;
    background-color: #f4a36180;
    background-color: #F99D24;
    background-color: #ffbf006b; */
    background-color: #2d545eaf;
}

.blue-background:hover {
    color: white;
    -webkit-text-stroke: 1px transparent;
    cursor: pointer;
}

#hero {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #7DA7A9; */
    /* background-color: #2A603E; */
    /* background-color: #2d545e; */
    background-color: #74ad9f;
    padding: 0;
}


/* parallax */
/* FINISH IT --------------------------------------------------------- */


/* .hero {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero:before {
    content: '';
    position: absolute;
    height: 170vh;
}

.content {
    position: absolute;
    z-index: 1000;
    top: 100vh;
} */

/* parallax end */

img#V_letter {
    height: 105px;
    margin-right: -90px;
    margin-top: 28px;
    transform: rotate(-45deg);
}

.V_letter {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 150px;
    text-shadow: 0 3px 5px #00000042;
    font-family: Evolventa, sans-serif;
}

#hero h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-family: Evolventa, sans-serif;
}

h4:nth-of-type(2) {

    font-size: 35px;
}

.typewrite {
    text-decoration: none;

}

span.wrap {
    color: #ffffff;
}


header {
    width: 20%;
    /* background-color: #324D4E; */
    /* background-color: #264653; */
    /* background-color: #4C5454; */
    /* background-color: #22577A; */
    background-color: #2d545e;
    position: fixed;
    left: 0;
    -webkit-box-shadow: 5px 0px 10px 0px hsla(0, 0%, 23%, 0.36);
    -moz-box-shadow: 5px 0px 10px 0px hsla(0, 0%, 23%, 0.36);
    box-shadow: 5px 0px 10px 0px hsla(0, 0%, 23%, 0.36);
    z-index: 2;
}

nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;

}

nav li {
    border-left: 2px solid transparent;
    /* add this class when the link is active with javascript */
    /* margin: 20px 0;
    height: 75px; */
    line-height: 75px;
    padding-left: 10px;
    transition: all ease .5s;
}

nav li:hover {
    /* color: #414984; */
    color: transparent;
    -webkit-text-stroke: .25px white;
    border-left: 2px solid white;
}

#nav-links {
    height: 380px;
    transition: all ease 1s;
    z-index: 2;
}

.active {
    color: black;
}

/* adds side border */

/* .activeLI {
    border-left: 2px solid black!important;
} */



#social-links {
    width: 180px;
    display: flex;
    justify-content: space-between;

}

#social-links a i {
    font-size: 24px;
    color: white;
    transition: all .5s ease;
}

#social-links .fab:hover {
    transform: scale(1.3);
    color: rgb(39, 39, 39);
    transition: all .5s ease-in;
}

#home {
    color: #414984;
    opacity: .1;
    position: absolute;
    right: 0;
    top: -100px;
    font-size: 300px;
    z-index: 1;
}

img#coding_pc {
    width: 444px;
    margin-right: 150px;
}

.right-image img {
    width: 450px;
    margin-right: 100px;
}

section {
    padding-left: 135px;
    padding-right: 20px;
    margin-bottom: 200px;
    margin-top: 100px;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 120vh;
}

.left {
    text-align: left;
    width: 595px;
}

.right-image {
    filter: grayscale(0%);
}

.right-image:hover {
    filter: grayscale(100%);
    cursor: pointer;
}

.projects {
    margin: 0 auto;
}

.border-left-white h3,
.project-border-margin h3 {
    /* color: #414984; */
    /* color: #36497A; */
    /* color: #E9C46A; */
    /* color: #F52100; */
    color: #22577A;
    font-weight: bold;
    font-size: 85px;
}

.border-left-white,
.project-border-margin {
    border-left: 7px solid white;
    padding-left: 50px;
}

.border-left-white h5,
.project-border-margin h5 {
    font-weight: normal;
    font-size: 30px;
}

.project-border-margin {
    margin-top: 120px;
    margin-bottom: 20px;
}

/* rubberband text */

.a {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
    animation-name: reverse;
    animation-duration: 1s;

}

.a:hover {
    color: #414984;
    animation: rubberBand 1s infinite;
    /* animation-name: rubberBand; */
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes reverse {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/* finish rubberband */

.photography-work {
    margin-top: 20rem;

}

.photography-work h3 {
    color: #414984;
    font-weight: bold;
    font-size: 85px;
    display: inline;
}

h3.white {
    color: white;
}



.left p {
    font-size: 20px;
    padding-top: 90px;
    padding-left: 50px;
    line-height: 30px;
    width: 700px;
}

button:focus {
    outline: 0;
}

.left button {
    background-color: transparent;
    border: 2px solid #414984;
    padding: 22px 60px;
    color: #414984;
    font-size: 26px;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 65px;
    transition: all .3s ease;
}

.left button:hover {
    background-color: #414984;
    color: white;
    cursor: pointer;
}

#skills {
    /* background-color: rgba(245, 245, 245, 0.233); */
    /* background-color: #49876c; */
    /* background-color: #38A3A5; */
    background-color: #d3e3d4;
    height: 315px;
    padding: 15px;
    margin-bottom: 300px;
}

#skills h2 {
    color: #414984;
    font-weight: bold;
    font-size: 85px;
    text-align: center;
}

.skills-flex-container {
    width: 100%;
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-logo {
    height: 4rem;
    opacity: .8;
    margin: 2.5rem;
    transition: all .5s ease;
    filter: grayscale(40%);

}

.skill-logo:hover {
    filter: brightness(110%) drop-shadow(4px 4px 3px #5d5f5f41);
    transform: scale(1.5);
    opacity: 1;
}

#services {
    /* padding-top: 100px; */
    /* margin-bottom: 200px; */
}

.service-boxes {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}


.white-box {
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin-right: 4rem;
    margin-bottom: 4rem;
    /* border-left: 7px solid #6600ff; */
    /* border-left: 7px solid #370617; */
    border-left: 7px solid #55a1d3;
    background-color: rgba(43, 43, 43, 0.61);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease .3s;

}

.white-box:hover {
    transform: scale(1.01) translateY(-5%);
    -webkit-box-shadow: 0px 17px 38px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 38px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 38px -9px rgba(0, 0, 0, 0.75);
}

.service-name {
    color: whitesmoke;
    font-size: 30px;
    font-weight: semi-bold;
}

.service-desc {
    font-weight: normal;
    font-size: 18px;
    color: whitesmoke;
}

/* tabs */

.buttonContainer {
    display: flex;
    padding-top: 75px;
}

.tabContainer .buttonContainer button {
    box-sizing: border-box;
    font-size: 26px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: white;
    margin: 10px;
    padding: 20px 60px;
    transition: all ease .8s;
}

.tabContainer .buttonContainer button:focus {
    outline: none;
}

.tabContainer .buttonContainer button:hover {
    background-color: rgba(51, 23, 177, 0.226);
    cursor: pointer;
}

.tabContainer .tabPanel {
    height: 85% auto;
}

/* tabs finish */

.left-align {
    text-align: left !important;
    margin-right: 50px;
}

.left-description {
    width: 45%;
    text-align: right;
}

.left-description h5 {
    font-size: 30px;
    margin-bottom: 25px;
}

.left-description p {
    line-height: 25px;
}

.right-image {
    position: relative;
    z-index: 10;
}

.right-image img {
    filter: brightness(75%);
    filter: grayscale(0%);
}

.right-image h6 {
    position: absolute;
    top: 35%;
    font-size: 60px;
    z-index: 1;
    left: -10%;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 200px;
}

.view-work {
    width: 200px;
    height: 70px;
    border: none;
    /* background-color: #414984; */
    /* background-color: #386298; */
    /* background-color: #E76F51; */
    /* background-color: #a44a3f; */
    background-color: rgba(43, 43, 43, 0.61);
    color: white;
    font-size: 24px;
    margin-top: 30px;
}

.view-work:hover {
    background-color: #4149849f;
    cursor: pointer;
}

.photo-container {
    /* width: 100%;
    display: flex; */
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap;
    align-items: flex-start; */
}

.photo-container {
    margin-top: 100px;
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 10px;
}

.photo-container img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    /* margin: 0 10% 10% 0; */
    margin-bottom: 10px;
    height: auto !important;
    border: 2px solid white;
}

@media (max-width: 1200px) {
    .photo-container {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .photo-container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .photo-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .photo-container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.photo-grid {
    /* max-width: 20%; */
    /* height: auto; */
    /* margin: .1rem; */
}



/* img.photo-grid {
    max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
} */

#contact {
    margin: 15rem 0;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.contact-text {
    margin-top: 10rem;
    width: 450px;
    line-height: 50px;
}

.contact-text h4 {
    font-size: 40px;
    padding-bottom: 15px;
}

.contact-text h5 {
    font-size: 24px;
    font-weight: normal;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
    margin: 1rem;
    margin-top: 15rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    -webkit-box-shadow: -11px 10px 46px 0px rgba(31, 31, 31, 1);
    -moz-box-shadow: -11px 10px 46px 0px rgba(31, 31, 31, 1);
    box-shadow: -11px 10px 46px 0px rgba(31, 31, 31, 1);
}

form h2 {
    font-size: 50px;
    color: #22577A;
}

form input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    width: 80%;
    color: white;
    margin: 15px;
}

form input {
    padding-bottom: 10px;
}

form input::placeholder,
form textarea::placeholder {
    color: white;
    font-family: Montserrat;
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
}

form button {
    width: 40%;
    height: 70px;
    border: none;
    background-color: #22577A;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

form button:hover {
    background-color: #4149849f;
    cursor: pointer;
}

#email-to {
    text-decoration: none;
    color: #22577A;
    font-size: 30px;
    font-weight: bold;
}

#email-to:hover {
    color: white;
}